/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', Arial, sans-serif;
	line-height: 1.6;
	color: #0f0e0e;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .96em;
	color: #3a9fce;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #4a0970;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

/* ================================= 
  Media Queries
==================================== */


/*    TEMP COMMENT OUT MOBILE PAD  SIZING
@media (min-width: 769px) {

	.main-header,
	.main-nav {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

}
*/

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}